*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color:transparent;
    font-family: sans-serif;
}

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
   
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

article::before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(0, 0, 0);
}
article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 30px;

}
article p{
    margin-top:20px ;
    font-size: 17px;
    color: #777777;
    text-align: justify;
    
}

article img{
    width: 100%;
    margin-top: 20px;
}

.container-aside .post-card-aside{
    width: 320px;
    border-right: 6px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    overflow: hidden;
    margin-left: 5px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin: 10px;

}

.container-aside .post-card-aside img{
    width: 100%;
}

.container-aside h2, .container-aside p{
    margin-top: 20px;
    padding: 0 20px;
    text-align: justify;

}

.container-aside .post-card-aside button{
        margin-top: 20px;
        margin-left: 20px;
        padding: 10px 50px;
        font-size: 16px;
        background-color: #777777;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 6px;
        font-weight: bold;
        

}

.container-aside .post-card-aside button:hover{
    opacity: 0.4;
}

@media screen and (max-width:1220px){
    .post-card-aside,
    .container-content,
    .container-footer footer {
        max-width: 1000px;
    }

    .header-content{
        max-width: 1000px;
        margin: 0 20px;
    }


}

@media screen and (max-width:1020px){
    .container-content {
        width: 100%;
        flex-direction: column;
    }
    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }

}

.container-footer{
    width: 100%;
    padding: 40px 0;
    background-color: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}
.container-footer footer .logo-footer img{
    width: 100px;
}
.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.redes-footer a i {
    font-size: 20px;
    margin: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(219, 219, 219);
    color: black;
}

.icon-fa:hover{
    background-color: #41579A;
    color: white;
    
}

.icon-dis:hover{
    background-color:#5562EA;;
    color:white;
}

.icon-ins:hover{
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
      );
    color:white;
}

.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: rgb(212, 212, 212);
}

.container-footer footer h4{
    text-align: center;
    margin-top: 20px;
    color: #606060;
    font-weight: 500;
}

.container-cover{
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 80px;
    background-image: url(/img/portada_bocchi-the-rock-26.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container-cover::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgba(81, 177, 255, 0.326);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info{
    max-width: 800px;
    height: 500px;
    margin: auto ;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.container-info h1{
    font-size: 60px;
    font-weight:bold;
    color: white;
    margin-bottom: 20px;
}

.container-info p{
    color: white;
    font-size: 20px;
    font-weight: 300;

}

/*CSS HEADER*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.697);
    
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color:white;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

.menu{
    height: 80px;

}

.menu nav {
    height: 100%;
}
.menu nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}

.menu-select:before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    
}

.menu nav ul li .text-menu-select{
    color:#000000;
    font-weight: bold;
    ;
}

#icon-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    background-color: #fafafafa;
    border-radius: 100%;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    padding: 10px;
    display: none;
}

#icon-menu:hover{
    background-color: #f2f2f2f2;
}

/* Responsive Desing*/
@media screen and (max-width:800px){
    .menu{
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        box-shadow: 10px 0 20px -25px black;
    }

    .menu nav ul{
        flex-direction: column;
    }

    .menu nav ul li {
        max-width: 200px;
        height: 50px;
        justify-content:flex-start;
    }
    .menu-select:before {
        width: 0;
    }

    .menu nav ul li a {
       margin-top: 40px;
       color: #858585;
    }

    .menu nav ul li a i {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
            
     }
 

    .header-content{
        max-width: 1000px;
        margin: 0 20px ;
        
    }

}

@media screen and (max-width:800px){
    .container-aside{
        flex-wrap: wrap;
    }

    .post-card-aside{
        max-width: 1000px;
    }
}

/*CSS FRONT*/

